

.box{
    width: 50%;
    height: 50%;
    background-color: red;

}

.container{
    width: 600px;
    height: 600px;
    border: 2px solid red;


}

/* dışındaki divin boyutları düşerse iç div de 50% ile olduğu için düşer */