.container{
    height: 700px;
    width: 700px;
    margin: 200px auto;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    /*içerdeki box ları tüm containere eşit sığdırır*/
    /*grid-template-columns:1fr 1fr; /*one furuction*//* px ya da % lik olarak da verilebilir*/
    /* ikili kolon yapısına böler yani 50% 50% de kaplar toplamda 2fr 100% de olur*/
    /*one fruction 100% kaplar içerisi büyüdükçe değişmez*/

    /*grid-template-rows: 2fr 1fr 2fr 1fr;
    /*burası da row yani satı için x ekseni için işlem yapar */

    /*yukarıdaki ne göre daha kısa yazı tarzı*/
    grid-template: 2fr 1fr 2fr 1fr/1fr 1fr ;
}
.box{
    color: white;
    font-size: 30px;
    text-align: center;
}